{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1 style="font-family: scd3;">{{post.title}}</h1>
{% if post.writer %}
    {% if 'user' in post.writer.username %}
        <h3 style="font-family: scd2; font-size: 19px;">작성자 : <a href="{% url 'users:mypage' post.writer.id %}">{{ post.writer.last_name }}{{ post.writer.first_name }}</a></h3>
    {% else %}
        <h3 style="font-family: scd2; font-size: 19px;">작성자 : <a href="{% url 'users:mypage' post.writer.id %}">{{ post.writer }}</a></h3>
    {% endif %}
{% else %}
<h3 style="font-family: scd2; font-size: 19px;">작성자 : 알 수 없음</h3>
{% endif %}

<p style="font-family: scd2; font-size: 19px;">날짜 : {{post.pub_date}}</p>

{% if post.image %}
    <p><img src="{{ post.image.url }}" alt="사진"></p>
{% endif %}

<hr>
<p style="font-family: 'scd2'; font-size: 19px;">{{post.body}}</p><hr>
<div>
    <form action="{%url 'main:create_comment' post.id%}" method="POST">
        {%csrf_token%}
        <textarea name="content" style="font-family: 'scd3'; font-size: 19px;" placeholder="댓글내용입력"></textarea>
        <input type="submit" style="font-family: 'scd2'; font-size: 19px; margin: 20px;"  value="확인">
        <a href="{% url 'main:edit' post.id %}" style="font-family: 'scd3'; font-size: 15px; text-decoration: none;" >수정하기</a>
        <a href="{% url 'main:delete' post.id %}" style="font-family: 'scd3'; font-size: 15px;text-decoration: none;">| 삭제하기</a>
        
        <!-- 4. 좋아요 버튼 노출-->

    <span href="#" class="like" name ="{{post.id}}" value="Like">
        {% if user in post.like_user_set.all %}
            <div class="alt-service-icon">
                <i class="fas fa-heart" id ="like-icon" style="color:red;"></i>
            </div>
        {% else %}
                <div class="alt-service-icon">
                    <i class="far fa-heart" id ="like-icon" style="color:red;"></i>
            </div>
        {% endif %}
            <span id="count-{{ post.id }}" class="alt-services-title font-alt">
                좋아요
            {% if post.like_count == 0 %}
                0개
            {% else %}
                {{ post.like_count }}개
            {% endif %}
            </span>
    </span>

    <!-- 5. 싫어요 버튼 노출 -->
    <span href="#" class="dislike" name ="{{post.id}}" value="Dislike">
        {% if user in post.dislike_user_set.all %}
            <div class="alt-service-icon">
                <i class="fas fa-heart" id ="dislike-icon" style="color:blue;"></i>
            </div>
        {% else %}
                <div class="alt-service-icon">
                <i class="far fa-heart" id ="dislike-icon" style="color:blue;"></i>
            </div>
        {% endif %}
            <span id="count_dislike-{{ post.id }}" class="alt-services-title font-alt">
                싫어요
            {% if post.dislike_count == 0 %}
                0개
            {% else %}
                {{ post.dislike_count }}개
            {% endif %}
            </span>
    </span>
</div>


<!-- 6-1. ajax 좋아요 버튼 적용하기-->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(".like").click(function(){
        var pk=$(this).attr('name')
        $.ajax({
            type:'POST',
            url:"{% url 'main:like_toggle' post.pk %}",
            data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:'json',
            success:function(response){
                if(response.like_count==null){
                    alert('로그인이 필요합니다.');
                    window.location.replace('/accounts/login/');
                }
                else{
                    if(response.result=='like'){
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('fas fa-heart');
                    }
                    else{
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('far fa-heart');
                    }
                    $('#count-{{post.id}}').html('좋아요 '+response.like_count+"개");
                }
            },
            error:function(request, status, error){
                alert("로그인이 필요합니다.")
                alert('code:'+request.status+'\n'+'message:'+request.responseText+"\n"+"error:"+error);
            },
        })
    })
</script>

<!-- 6-1. ajax 싫어요 버튼 적용하기 -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(".dislike").click(function(){
        var pk=$(this).attr('name')
        $.ajax({
            type:'POST',
            url:"{% url 'main:dislike_toggle' post.pk %}",
            data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:'json',
            success:function(response){
                if(response.dislike_count==null){
                    alert('로그인이 필요합니다.');
                    window.location.replace('/accounts/login/');
                }
                else{
                    if(response.result=='dislike'){
                    $('#dislike-icon').removeClass();
                        $('#dislike-icon').addClass('fas fa-heart');
                    }
                    else{
                        $('#dislike-icon').removeClass();
                        $('#dislike-icon').addClass('far fa-heart');
                    }
                    $('#count_dislike-{{post.id}}').html('싫어요 '+response.dislike_count+"개");
                }
            },
            error:function(request, status, error){
                alert("로그인이 필요합니다.")
                alert('code:'+request.status+'\n'+'message:'+request.responseText+"\n"+"error:"+error);
            },
        })
    })
</script>
    </form>
</div><hr>

<div>
    {% for comment in comments %}
    <div style="font-family: 'scd2'; font-size: 19px; margin-left: 95px;">
        {% if 'user' in comment.writer.username %}
            작성자 : <a href="{% url 'users:mypage' comment.writer.id %}">{{comment.writer.last_name}}{{comment.writer.first_name}}</a>
            {% else %}
            작성자: <a href="{% url 'users:mypage' comment.writer.id %}">{{comment.writer}}</a>
            {% endif %}     <br>   {{comment.content}}
            <br> {{comment.created_at}}
            <a href="{% url 'main:edit_comment' comment.id %}" style="font-family: 'scd3'; font-size: 15px;text-decoration: none;"><br>댓글 수정</a>
            <a href="{% url 'main:delete_comment' comment.id %}" style="font-family: 'scd3'; font-size: 15px;text-decoration: none;">| 댓글 삭제</a>
        <br><hr>
    </div>
    {% endfor %}
</div>

{% endblock %}

